@charset "utf-8";
/* CSS Document */

.a1 {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 195px;
    height: 40px;
    color: #6C6C6C;
    font-style: normal;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 2px;
}

tr td ul {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

td a img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
tr td table {
    text-align: justify;
    font-size: large;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
a.b1:link{
	text-decoration: none;
	color:#000000;
}
a.b1:hover
{
	text-decoration: underline;
	color:#12337D;
}
a.b1:visited
{
	text-decoration: none;
	color:#000000;
}
a.b2:link{
	text-decoration: none;
	color:#12337D;
}
a.b2:hover
{
	text-decoration: underline;
	color:#12337D;
}
a.b2:visited
{
	text-decoration: none;
	color:#FF4F4F;
}
.a2   {
    text-indent: px;
    list-style-type: circle;
    margin-left: 20px;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}
tr td p {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: large;
    text-indent: 32px;
}
.a3 {
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-variant: small-caps;
    color: #12337D;
}

a.bq:link{
	text-decoration: none;
	color:#6C6C6C;
}
a.bq:hover
{
	text-decoration: underline;
	color:#6C6C6C;
}
a.bq:visited
{
	text-decoration: none;
	color:#6C6C6C;
}
